%h1 flickr: stream
%form{ method: 'post' }
  %fieldset
    %legend
    #fields
      %input{ type: 'hidden', name: '_method', value: 'post' }
      %ol
        %li
          %label{ 'for': 'api_key'} API Key
          %input{ type: 'text', name: 'api_key', value: api_key }
        %li
          %label{ 'for': 'user_name'}  Username
          %input{ type: 'text', name: 'user_name', value: user_name }
    .panel
      %input{ type: 'submit', value: 'Fetch!' }
%br
#scroller
  %ul
    :foreach{ array : photos, value : "item" }
      %li
        %a.thickbox{href: item.url_m}
          %img{ src: item.url_sq,  alt:"", width:"75", height:"75", border:"0"}