%html
  %head
    %title Flickr PhotoStream Viewer.
    %script{ src: '/public/javascripts/jquery.js' }
    %script{ src: '/public/javascripts/jquery.easing.1.1.js' }
    %script{ src: '/public/javascripts/jquery.jcarousellite.pauseOnHover.js' }
    %script{ src: '/public/javascripts/thickbox.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/public/stylesheets/thickbox.css' }
    %link{ rel: 'stylesheet', href: '/public/stylesheets/app.css' }
  %body
    #wrapper= body
